body {
    margin-left: 50px;
}

#left-heading {
    font-size: 24px;
    margin-left: 10px;
}

#right-heading {
    font-size: 20px;
    margin-right: 10px;
}

#left {
    float:left;
}

table thead th {
    text-align: center;
    font-size: 18px;
    background-color: rgba(32, 32, 32, 0.31);
}

td {
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
}

.navbar-nav li a {
    font-size: 20px;
}

.navbar-header a svg {
    margin-left: 10px;
}

.navbar-right li a {
    margin-right: 25px;
}

.login-header {
    color: #000000;
    padding-left: 30px;
    font-family: 'Convergence', sans-serif;
    font-size: 45px;
    line-height: 120px;
}

.panel-heading {
    font-size: 22px;
}

.form-group .control-label {
    font-size: 16px;
}

#app-navbar-collapse {
    margin-top: 55px;
}

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}